@font-face {
  font-family: 'calibri';
  src: url("../fonts/calibri.ttf"); }

@font-face {
  font-family: 'calibri-bold';
  src: url("../fonts/calibriBold.ttf"); }

@font-face {
  font-family: 'calibri-italic';
  src: url("../fonts/calibriItalic.ttf"); }
