.about-page, .work-with-us-page, .pricing-page{
  &.wrapper {
    padding-top: 0px;
  }
  .block {
    height: auto;
    @media screen and (max-width: $layout-breakpoint) {
      height: auto;
    }
  }
}
.about-page, .work-with-us-page, .pricing-page{
  transition: transform .3s;
}
body {
  &.fixed {
    .about-page {
      padding: 0;
    }
  }
}
#ourMission {
  padding-top: 50px;
  @media screen and (max-width: $layout-breakpoint) {
    padding-top: 40px;
  }
}
.mission-promo {
  background-image: url('../images/pattern.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 41%;
  background-color: #1481FA;
  height: 250px;
  text-align: center;
  color: #fff;
  font-size: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1{
    font-size: 48px;
  }
  &.team_hd{
    margin-bottom: 80px;
    background-image: url('../images/ourteam_header.jpg');
    @include image-2x("../images/ourteam_header@2x.jpg", cover, cover);
  }
  @media screen and (max-width: $mobile-breakpoint) {
    height: 120px;
    margin-top: 0;
    font-size: 22px;
    padding:0 10px;
    h1{
      font-size: 22px;
    }
  }
  @media screen and (min-width: $mobile-breakpoint) and (max-width: $layout-breakpoint) {
    margin-top: 0;
    height:250px;
  }
}
.promo-holder{
  text-align: center;
  padding: 21px 15px 8px;
  max-width: 750px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
  @media screen and (max-width: $mobile-breakpoint) {
    padding: 0 15px;
  }
  p{
    font-size: 18px;
    line-height: 1.56;
    color: $text-color;
    max-width: 100%;
    @media screen and (max-width: $mobile-breakpoint) {
      font-size: 16px;
    }
  }
  h2{
    text-align: center;
    margin-bottom: 24px;
  }
  .sub_headline{
    font-size: 36px;
    @media screen and (max-width: $mobile-breakpoint) {
      font-size: 20px;
      margin-bottom:0;
    }
  }
}

.leader_speech{
  font-size: 16px;
  line-height: 1.750em;
  .more{
    margin-bottom:27px;
    .morecontent span{
      display: none;
    }
  }
  .auth_box{
    display: flex;
    max-width:242px;
    margin-left:auto;
    align-items:center;
    margin-bottom:27px;
    line-height: 1.188em;
    figure{
      width:50px;
      margin-right:20px;
      img{
        height:auto;
        max-width:100%;
      }
    }
    strong{
      color:$black;
      display: block;
      font-size: 18px;
      line-height: 1.222em;
    }
  }
  @media screen and (max-width: $mobile-breakpoint) {
    font-size: 14px;
    line-height: 1.429em;
    .auth_box{
      margin-bottom:0;
    }
  }
}

.row_holder.txt_img{
  padding:26px 0 50px;
  margin-bottom:30px;
  .col_6{
    padding:0;
    @media screen and (max-width: $layout-breakpoint) {
      padding:0 20px;
    }
    figure{
      max-width:100%;
      &.right{
        float: right;
      }
    }
  }
  @media screen and (max-width: $mobile-breakpoint) {
    .first{
      margin-bottom:20px;
    }
  }
  h2{
    font-size: 36px;
    margin-bottom:20px;
    @media screen and (max-width: $mobile-breakpoint) {
      font-size: 20px;
    }
  }
  p{
    margin-bottom:20px;
  }
}
.icon_box{
  .title{
    color:$black;
    display: block;
    font-size: 24px;
    margin-bottom:12px;
    line-height: 1.208em;
    font-family: $font-family-bold;
    @media screen and (max-width: $mobile-breakpoint) {
      margin-bottom:5px;
      font-size: 18px;
    }
  }
  figure{
    margin:0 auto 20px;
    img{
      max-width:100%;
    }
  }
}
.row_holder.recipe_for_change{
  padding:11px 0;
  .col_6{
    padding:0 40px;
    margin-bottom:70px;
    figure{
      max-width:96px;
      min-height:110px;
    }
    p{
      font-size: 16px;
      @media screen and (max-width: $mobile-breakpoint) {
        font-size: 14px;
      }
    }
  }
}
.section_title{
  font-size: 36px;
  text-align: center;
  margin-bottom:52px;
  @media screen and (max-width: $mobile-breakpoint) {
    margin-bottom:30px;
    font-size: 20px;
  }  
}

// How we work
.how_we_work{
  &.row_holder{
    padding:21px 0 61px;
    @media screen and (max-width: $mobile-breakpoint) {
      padding-bottom:40px;
    }
  }
  .section_title{
    margin-bottom:44px;
    @media screen and (max-width: $mobile-breakpoint) {
      margin-bottom:60px;
    }
  }
  .inner_wrap{
    width:100%;
  }
  .how_we_work_scheme{
    text-align: center;
    position: relative;
    &:before{
      content:'';
      top:50%;
      left:50%;
      width:100px;
      height:100px;
      position: absolute;
      transform:translate(-50%, -50%);
      background-image: url('../images/icon_how_we_work.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
    }
    &:after{
      content:'';
      top:50%;
      left:50%;
      width:539px;
      height:226px;
      position: absolute;
      transform:translate(-50%, -50%);
      background-image: url('../images/how_we_work_scheme.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
    }
    @media screen and (min-width: $mobile-breakpoint) {
      .side_txt{
        width:100%;
        display: flex;
        margin:61px 0 56px;
        flex-direction:row-reverse;
        justify-content:space-between;
      }
    }
    .txt_wrap{
      display: block;
      font-size: 24px;
      color:$link-color;
      max-width: 220px;
      position: relative;
      line-height: 1.208em;
      font-family: $font-family-bold;
      @media screen and (min-width: $mobile-breakpoint) {
        &.center_txt{
          margin:0 auto;
        }
      }
    }
    @media screen and (max-width: $mobile-breakpoint) {
      &:before{
        content:none;
      }
      &:after{
        width:222px;
        height:302px;
        background-image: url('../images/how_we_work_scheme_m.png');
      }
      > .txt_wrap{
        &:last-child{
          padding-bottom:0;
          &:after{
            content:none;
          }
        }
      }
      .txt_wrap{
        padding:0 15px;
        font-size: 18px;
        margin:0 auto 10px;
        padding-bottom:20px;
        position: relative;
        &:after{
          left:50%;
          bottom: 0;
          content:'';
          width:12px;
          height:8px;
          position: absolute;
          transform:translateX(-50%);
          background: url('../images/arrow_down.svg') center center no-repeat;
          background-size: contain;
        }
      }
    }
  }
}

.gray_section{
  margin-bottom:40px;
  padding:11px 0 35px;
  background-color: #f7f7f7;
  .col_4{
    padding:0 20px;
    font-size: 16px;
    figure{
      min-height:75px;
    }
  }
  @media screen and (max-width: $mobile-breakpoint) {
    .section_title{
      margin-bottom:40px;
    }
    .col_4{
      margin-bottom:50px;
      &:last-child{
        margin-bottom:0;
      }
    }
  }  
}

.get_involved{
  .section_title{
    margin-bottom:36px;
  }
}

.carousel-holder{
  position: relative;
  max-width: 945px;
  overflow: hidden;
  margin: 0 auto;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding: 50px 0 64px;
  margin-bottom: 40px;
  @media screen and (min-width: $mobile-breakpoint) and (max-width: $layout-breakpoint) {
    width: calc(100% - 50px);
  }
  @media screen and (max-width: $mobile-breakpoint) {
    width: calc(100% - 30px);
    padding: 34px 0 40px;
    margin-bottom: 32px;
  }
}
.owl-carousel{
  position: relative;
  padding-top: 100px;
}
.owl-nav{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.carousel-content{
  width: 218px;
  min-height: 310px;
  border-radius: 8px;
  border: solid 1px #e5e5e5;
  margin: 0 auto;
  overflow: hidden;

  img{
    height: 120px;
    width: 100%;
  }
  span{
    font-size: 16px;
    text-align: left;
    color: $text-color;
    font-family: $font-family-base;
    display: block;
    padding: 12px 10px 5px;
  }
  p{
    font-family: $font-family-bold;
    font-size: 24px;
    letter-spacing: 0.3px;
    text-align: left;
    color: $black;
    padding: 0 10px;
    line-height: 28px;
  }
}
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next{
  position: absolute;
  top: 13px;
  text-indent: -9999px;
  width: 36px;
  height: 36px;
  background-image: url('../images/slider_arrow_button.svg');
  background-size: 36px 36px;
  background-position: 0 0;
  &:hover{
    transform: rotate(180deg);
    background-image: url('../images/slider_arrow_button_active.svg');
  }
  @media screen and (max-width: $layout-breakpoint) {
    top: 0;
  }
}
.owl-carousel .owl-nav button.owl-prev{
  left: 0;
}
.owl-carousel .owl-nav button.owl-next{
  transform: rotate(180deg);
  right: 0;
  &:hover{
    transform: rotate(0deg);
  }
}
#ourHistory {
  position: relative;
  h2{
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    text-align: center;
  }
}
.leadership-holder{
  max-width: 945px;
  margin: 0 auto;
  h2{
    margin-left: 195px;
    @media screen and (max-width: $layout-breakpoint) {
      margin: 0;
      text-align: center;
    }
  }
  @media screen and (min-width: $mobile-breakpoint) and (max-width: $layout-breakpoint) {
    padding: 0 24px;
  }
  @media screen and (max-width: $mobile-breakpoint) {
    padding: 0 15px;
  }
}
.leadership-block{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  margin-bottom: 40px;
  margin-top: 32px;
  @media screen and (min-width: $mobile-breakpoint) and (max-width: $layout-breakpoint) {
    display: block;
  }
  @media screen and (max-width: $mobile-breakpoint) {
    display: block;
  }
}
.leadership-img{
  width: 160px;
  margin-right: 35px;
  min-width: 160px;
  @media screen and (max-width: $layout-breakpoint) {
    margin: 0 auto 12px;
  }
}
.leadership-content{
  h4{
    font-weight: normal;
    font-family: $font-family-bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.3px;
    text-align: left;
    color:$black;
  }
  span{
    font-size: 18px;
    color:$black;
    display: block;
    margin-bottom: 15px;
  }
  p{
    font-size: 18px;
    line-height: 1.56;
    color: $text-color;
    @media screen and (max-width: $layout-breakpoint) {
      font-size: 16px;
    }
  }
}
.directors-block{
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding-top: 32px;
  padding-bottom: 56px;
  @media screen and (max-width: $layout-breakpoint) {
    padding-top:24px;
    padding-bottom: 44px;
  }
  h4{
    font-size: 24px;
    font-weight: normal;
    font-family: $font-family-bold;
    letter-spacing: 0.3px;
    text-align: left;
    color: $black;
    margin-bottom: 16px;
  }
  p{
    font-size: 18px;
    color: $text-color;
    @media screen and (max-width: $layout-breakpoint) {
      font-size: 16px;
      margin-bottom: 12px;
    }
    span{
      font-size: 18px;
      text-align: left;
      color: $black;
      display: inline-block;
      margin-right: 24px;
      @media screen and (max-width: $layout-breakpoint) {
        display: block;
        font-size: 16px;
      }
    }
  }
}
.pr-block{
  padding: 32px 0;
  margin-bottom: 40px;
  h4{
    font-size: 24px;
    font-weight: normal;
    font-family: $font-family-bold;
    letter-spacing: 0.3px;
    text-align: left;
    color: $black;
    margin-bottom: 16px;
  }
  h2{
    margin-bottom: 30px;
    @media (min-width:768px){
      margin-bottom: 50px;
    }
  }
  a{
    font-size: 18px;
    @media screen and (max-width: $layout-breakpoint) {
      font-size: 16px;
    }
  }
  .wrap{
    display: flex;
    flex-wrap: wrap;
  }
  .col_6{
    width: 100%;
    flex-basis: 100%;
    @media (min-width:768px){
      width: 50%;
      flex-basis: 50%;
    }
    p{
      margin-bottom: 20px;
    }
    &:first-of-type{
      order:1;
      margin-top: 30px;
      @media (min-width:768px){
        padding-right: 60px;
        margin-top: 0;
        order: unset;
      }
    }
    figure{
      width: 100%;
      font-size: 0;
      line-height: 0;
      display: block;
      border-radius: 10px;
      overflow: hidden;
      img{
        max-width: 100%;
      }
    }
  }
}