footer{
  width: 100%;
  height: 40px;
  background-color: $footer-nav-bg;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center;
  @media screen and (max-width: $layout-breakpoint) {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    height: auto;
    padding:16px 0;
  }
  p{
    font-size: 16px;
    color: $text-color-second;
    margin:0 30px 0 0;
    @media screen and (max-width: $layout-breakpoint) {
      margin: 0;
    }
  }
}
.pre-footer{
  background-color: $white;
}
.mail-us{
  padding: 22px 45px;
  background-color: $footer-nav-bg;
  font-size: 18px;
  font-family: $font-family-sans-serif;
  letter-spacing: 0.2px;
  color: $black;
  text-align: center;
  border-bottom: 1px solid $light-gray;
  span{
    display: block;
    margin:0 auto;
    max-width:655px;
    font-size: 24px;
    @media screen and (max-width: $mobile-breakpoint) {
      font-size: 18px;
    }
  }
  a{
    margin-left: 8px;
    font-size: 24px;
    font-family: $font-family-sans-serif;
    @media screen and (max-width: $mobile-breakpoint) {
      font-size: 18px;
    }
  }
}
.contact-block{
  padding: 45px 30px 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
  @media screen and (max-width: $mobile-breakpoint) {
    display: block;
  }
  a{
    font-family: $font-family-bold;
  }
  ul{
    li{
      margin-bottom: 10px;
      &:last-child{
        margin: 0;
      }
    }
  }
}
.contact-title{
  display: block;
  font-size: 18px;
  font-family: $font-family-bold;
  letter-spacing: 0.2px;
  text-align: left;
  color: $black;
  margin-bottom: 15px;
}
.footer_cols{
  max-width:260px;
  flex-basis:260px;
  padding:0 20px;
  @media screen and (max-width: $layout-breakpoint) {
    max-width:227px;
    flex-basis:33.333%;
  }
  @media screen and (max-width: $mobile-breakpoint) {
    display: block;
    max-width:400px;
    margin: 0 auto 30px;
  }
  ul{
    li{
      display: block;
      a{
        display: block;
        max-width:240px;
        @media screen and (max-width: $layout-breakpoint) {
          font-size: 16px;
        }
        @media screen and (max-width: $mobile-breakpoint) {
          max-width:100%;
        }
      }
    }
  }
}
// .contact-left{
//   flex: 1;
//   padding-right: 90px;
//   a {
//      display: block;
//    }
// }
// .contact-center{
//   flex:1;
//   padding-right: 90px;
// }
// .contact-right{
//   flex: 2;
// }
.footerNav{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
  @media screen and (max-width: $layout-breakpoint) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: center;
  }
  li{
    margin:0 15px;
    a{
      font-size: 16px;
      text-align: left;
      color: $text-color-second;
      @media screen and (max-width: $layout-breakpoint) {
        font-size: 14px;
      }
    }
    &:first-child{
      margin:0 15px 0 30px;
    }
  }
}
.footerInfo{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
  @media screen and (max-width: $layout-breakpoint) {
    border-top: 1px solid  $light-gray;
    border-bottom: 1px solid  $light-gray;
    width: 100%;
    margin:24px 0 16px;
    padding:6px 0;
  }

  li{
    margin:0 5px;
   a{
     width: 34px;
     height: 34px;
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     justify-content: center;
     align-content: flex-start;
     align-items: center;
     @media screen and (max-width: $layout-breakpoint) {
       width: 24px;
       height: 24px;

       .fa{
         width: 6px;
         height: 12.5px;
       }
       .li{
         width: 12.7px;
         height: 12.7px;
       }
       .in{
         width: 12.7px;
         height: 12.7px;
       }
       .me{
         width: 12.7px;
         height: 10.1px;
       }
     }
   }
  }
}
