#sidebarNav{
  z-index:5;
  position:fixed;
  top:0;
  right:0;
  width:100%;
  height:calc(100% - 40px);
  margin-top:40px;
  background-color:#fff;
  overflow:hidden;
  transform:translateX(100%);
  transition:transform .25s cubic-bezier(.17,.45,.67,1);

  li{
    margin-top: 30px;
    a{
      font-family:$font-family-bold;
      font-size: 16px;
      text-align: left;
      color: $link-color;
      display: block;
      padding:0 15px;
      line-height:19px;
    }
  }
  &.open{
    transform:translateX(0);
    transition:transform .25s cubic-bezier(.17,.45,.67,1) .05s;
    @media screen and (min-width: $mobile-breakpoint) and (max-width: $layout-breakpoint) {
      width: 320px;
    }
  }
}
#PageOverlay{
  visibility:hidden;
  opacity: 0;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:calc(100% - 40px);
  margin-top:40px;
  z-index:4;
  background-color:rgba(0,0,0,.75);
  transition:all .3s;

  &.open{
   visibility: visible;
    opacity: 1;
  }
}
.sidebarBtn{
  position: absolute;
  display: block;
  font-family: $font-family-sans-serif;
  font-size: 16px;
  line-height: 40px;
  color: $white;
  height: 40px;
  border-radius: 22px;
  background-color: $link-color;
  border: solid 1px $link-color;
  width:calc(100% - 30px);
  text-align: center;
  bottom: 15px;
  left: 15px;
  z-index:7;
}